/* Import IBM Plex Sans and IBM Plex Mono */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* peach blossom theme from monkeytype */
  --color-background: #292929;
  --color-primary: #99b898;
  --color-primary-text: #fecea8;
}
