/* Import IBM Plex Sans and IBM Plex Mono */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Peach Blossom theme from monkeytype */
  --color-background: #292929;
  --color-primary: #99b898;
  --color-primary-text: #fecea8;
  --color-secondary: #616161;
  --color-secondary-alt: #2a363b;
  /* Additional complimentary colors from ChatGPT */
  --color-light-background: #3e3e3e;
  --color-body-light-slate-gray: #8a8a8a;
  --color-pink-soft: #f3c1c6;
}
